<IfModule mod_rewrite.c>

    RewriteEngine on
    ErrorDocument 404 http://localhost/allBlue/error/

    RewriteCond %{SCRIPT_FILENAME} !-d
    RewriteCond %{SCRIPT_FILENAME} !-f

    RewriteRule ^(.*)/(.*) index.php?controller=$1&action=$2
    ##RewriteRule ^(.*)/(.*) index.php?controller=$1&action=$2

    #RewriteRule ^admin/$ /indexAdmin.php?controller=$1&action=$2
    #RewriteRule ^/$ /index.php?controller=$1&action=$2

    #RewriteRule ^(.*)/allBlue/(.*) /index.php?controller=$1&action=$2
    #RewriteRule ^/$ /index.php?controller=$1&action=$2
</IfModule>