.row > div > div {
    padding-top: .75rem;
    padding-bottom: .75rem;
    margin-bottom: .75rem;
    background-color: rgba(112.520718, 44.062154, 249.437846, .15);
    border: 1px solid rgba(112.520718, 44.062154, 249.437846, .3);
}




